:root{
--cor-primaria: #183C63;
--cor-secundaria: #3782d2;
--cor-fundo: #ffffff;
--cor-texto: #151428;
--cor-constrate: #f3eef7;
--cor-botao: #f9f9f9;

--fonte-txto: 'Segoe UI', sans-serif:
}

{
transition: background-color 0.3s ea;
}

.tema-escuro { 
--cor-primaria: #183C63;
--cor-secundaria: #3782d2;
--cor-fundo: #ffffff;
--cor-texto: #151428;
--cor-constrate: #f3eef7;
--cor-botao: #f9f9f9;
}
.tema-escuro a {
   color: var (--cor-secundaria);
}
.tema-escuro p{
   color: var(--cor-texto);
}

body {
max-with: 100vw;
   font-family: var (--fonte-texto);

}
.btn-tema-escuro{
   position: fixed;
   battom: 16px;
   right: 16px;
   font-size: 32px;
   padding: 12px:
   background-color: var(--cor-primaria);
   border-radius: 50%;
}

.tema-escuro .btn-tema-escuro{
   background-color: var(--cor-secundaria);

   header{
        background-color: var(--cor-primaria);
        color: var(--cor-constraste);
        text-align: center;
        margin: 0 auto;
        padding: 16px
   }
      
      main{ 
         background-color: #FFFFFF;
         color:#183C63;
         margin: 0 auto;
         padding: 16px;
            
         display:flex;
            
      }
      article{
            display: flex;
            border: 1px solid #183C63;
            margin: 16px;
            gap: 16px;
            padding: 16px;
         box-shadow: 2px 2px 10px rgba(o, 0, 0, 0.3);
         
      }
      img {
        width: 80px;
        heigth: 80px;
      
      }
      .artigo-autor {
        font-weight: bold;
      }

